.DS_Store
.sass-cache
.apk
sites/zappylab/docroot/BenchTools.apk
sites/zappylab/docroot/Passageo.apk
Frameworks/
.mp4
.webm
.ogv
sites/pubchase/docroot/js/tinymce/
.gz
.pyc
.txt
/pdf.js-master/
compass_app_log.txt
sites/spectrascopic/docroot/js/tinymce

# ItelliJ files
.idea/
parcelpuppy.iml

# Grunt and sass tools
Gruntfile.js
node_modules/
package.json
