.section-header {
  font-size: 20px;
  margin-bottom: 10px; }

.how-it-works {
  color: #909090; }

.signup-step {
  max-width: 175px;
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center; }

.signup-step img {
  max-width: 75px;
  max-height: 75px;
  margin: 0px auto 15px auto;
  display: block; }

.signup-step b {
  display: block; }

.nav {
  background-color: #F1F1F1; }

ul.nav a:hover {
  background-color: #E9E9E9 !important; }

.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #1D5AAB; }

.header-nav-bar {
  margin-bottom: 0px;
  min-width: 900px;
  background-color: #F1F1F1; }

.logo-block {
  margin-top: 5px; }

#logo {
  height: 40px; }

#company-name {
  color: #4E2C1F;
  font-size: 22px;
  vertical-align: bottom; }

.footer {
  padding: 10px 0px;
  text-align: center; }

#masthead {
  background-color: black;
  background-image: url("../img/masthead.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding: 165px 0px 70px 0px;
  height: 350px; }

.masthead-main-line {
  font-size: 22px; }

.masthead-call-to-action {
  font-size: 18px;
  margin-top: 40px; }

.masthead-call-to-action input {
  width: 35%; }

.masthead-call-to-action button {
  width: 20%; }

body {
  background-color: #EEE;
  padding-bottom: 20px;
  color: #505050; }

a:hover {
  text-decoration: none; }

.page {
  min-width: 900px; }

.content-body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  padding: 25px 75px 50px 75px; }

.content {
  background-color: #FFF;
  box-shadow: 0 8px 6px -6px #505050; }

button {
  color: #FFF;
  background-color: #FF5A1E;
  background: linear-gradient(#ff7a2e, #ff5a1e);
  border: 0px solid #808080;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  height: 35px; }

button:hover {
  background-color: #AA4A0E;
  background: linear-gradient(#ff5a1e, #cc4a0e); }

button:focus {
  outline: 0; }

.gray-button {
  background-color: #7E7E7E;
  background: linear-gradient(#7e7e7e, #5e5e5e); }

.gray-button:hover {
  background-color: #8E8E8E;
  background: linear-gradient(#8e8e8e, #7e7e7e); }

.down-arrow {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid; }

.recommendation-header {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px; }

.rec-filter {
  padding-left: 30px; }

.rec-items {
  text-align: center; }

.rec-item-img {
  border: 1px solid lightgray;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 175px;
  height: 175px;
  margin-left: auto;
  margin-right: auto; }

.rec-item-name {
  padding-top: 5px;
  color: #909090; }

.rec-item-origin {
  padding-top: 10px; }

.rec-see-more {
  margin-top: 50px;
  text-align: center;
  font-size: 13px; }

.rec-see-more button {
  width: 200px;
  margin-bottom: 10px; }

.login-form {
  margin: 50px 0px 50px 0px; }

.facebook-login {
  width: 100%;
  background-color: #18529E;
  background: linear-gradient(#2971b6, #18529e); }

.facebook-login:hover {
  background-color: #08428E;
  background: linear-gradient(#1961a6, #08428e); }

.login-form-alternative-action {
  width: 100%;
  text-align: center;
  margin-top: 5px; }

.login-form-option-divider {
  text-align: center;
  font-size: 15px;
  width: 100%;
  padding: 20px 0px; }
