body {
  background-color: #EEE;
  padding-bottom: 20px;
  color: #505050;
  font-family: 'Lato', sans-serif; }

a:hover {
  text-decoration: none; }

.content-body {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0px 50px 0px; }

.content {
  background-color: #FFF;
  box-shadow: 0 8px 6px -6px #505050; }

button {
  color: #FFF;
  background-color: #FF5A1E;
  background: linear-gradient(#ff7a2e, #ff5a1e);
  border: 0px solid #808080;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  height: 35px; }

button:hover {
  background-color: #AA4A0E;
  background: linear-gradient(#ff5a1e, #cc4a0e); }

button:focus {
  outline: 0; }

.gray-button {
  background-color: #7E7E7E;
  background: linear-gradient(#7e7e7e, #5e5e5e); }

.gray-button:hover {
  background-color: #8E8E8E;
  background: linear-gradient(#8e8e8e, #7e7e7e); }

.blue-button {
  background: none;
  background-color: #79D7FD;
  border-radius: 2px; }

.blue-button:hover {
  background: none;
  background-color: #29D7FD; }

.down-arrow {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid; }

.navbar-nav > li > a.header-nav-bar-link:hover {
  background-color: #E9E9E9 !important;
  color: #1D5AAB; }

.header-nav-bar {
  margin-bottom: 0px;
  background-color: #F1F1F1; }

.header-logo-block {
  margin: 5px 0px 0px 5px; }

#header-logo {
  height: 40px; }

#company-name {
  color: #4E2C1F;
  font-size: 22px;
  vertical-align: bottom; }

#header-account-avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #E1E1E1; }

#header-account-link {
  padding: 5px 15px; }

.header-account-menu {
  background-color: #F1F1F1; }

.header-account-menu li > a:hover {
  background-color: #E9E9E9 !important;
  color: #1D5AAB; }

.footer {
  padding: 10px 0px;
  text-align: center; }

.form-frame {
  width: 600px;
  margin-left: 100px;
  display: inline-block;
  margin-right: 50px; }

.form-section-frame {
  padding-bottom: 15px; }

.form-section-title {
  margin-bottom: 5px; }

.form-section-subtitle {
  color: #1D5AAB;
  font-size: 13px;
  margin-bottom: 15px; }

.form-wrapper {
  margin: 50px 0px 50px 0px; }

.facebook-button {
  width: 100%;
  background-color: #18529E;
  background: linear-gradient(#2971b6, #18529e); }

.facebook-button:hover {
  background-color: #08428E;
  background: linear-gradient(#1961a6, #08428e); }

.form-alternative-action {
  width: 100%;
  text-align: center;
  margin-top: 5px; }

.form-option-divider {
  text-align: center;
  font-size: 15px;
  width: 100%;
  padding: 20px 0px; }

.form-fixed-button {
  margin-left: 20px; }

.form-button-subtitle {
  font-size: 12px;
  text-align: center; }

.form-hint {
  color: #FFF;
  font-size: 12px;
  background-color: #77D6FD;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin-right: 15px; }

#masthead {
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
  text-shadow: black 0.1em 0.1em 0.2em;
  height: 500px;
  min-width: 1024px; }

.masthead-main-line {
  font-size: 22px; }

.masthead-call-to-action {
  font-size: 18px;
  margin-top: 40px; }

.masthead-call-to-action input {
  color: #505050;
  width: 35%; }

.masthead-call-to-action button {
  width: 20%; }

.recommendation-header {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px; }

.rec-filter {
  padding-left: 30px; }

.rec-items {
  text-align: center; }

.rec-item-img {
  border: 1px solid lightgray;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 175px;
  height: 175px;
  margin-left: auto;
  margin-right: auto; }

.rec-item-name {
  padding-top: 5px;
  color: #909090; }

.rec-item-origin {
  padding-top: 10px; }

.rec-see-more {
  margin-top: 50px;
  text-align: center;
  font-size: 13px; }

.rec-see-more button {
  width: 200px;
  margin-bottom: 10px; }

.address-field {
  margin-bottom: 15px; }

.featured-puppies-frame {
  background-color: #F0F5FD; }

.featured-puppy {
  padding: 10px; }

.featured-puppy-avatar {
  width: 100%;
  height: auto; }

.featured-puppy-quote {
  padding-top: 10px; }

.account-tabs {
  border-bottom: 0px;
  margin-bottom: 15px; }

.account-tabs > li > a {
  background-color: #F1F1F1;
  border: 1px solid #AEAEAE;
  border-bottom-color: #DDD;
  margin-right: 0px;
  color: #7E7E7E;
  margin: -1px 0 0 -1px;
  padding: 10px 25px 2px 25px; }

.account-tabs > li > a:hover {
  background-color: #FFF;
  border: 1px solid #AEAEAE;
  border-bottom-color: #DDD;
  margin-right: 0px; }

.account-tabs > li.active > a {
  border: 1px solid #AEAEAE;
  border-bottom: 1px solid #FFF;
  color: #7E7E7E; }

.account-tabs > li.active > a:hover {
  border: 1px solid #AEAEAE;
  border-bottom: 1px solid #FFF;
  color: #7E7E7E; }

.about-me-frame {
  height: 150px;
  margin-bottom: 20px; }

.about-me-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  vertical-align: top;
  border: 1px solid #505050;
  float: left; }

.about-me-body {
  padding: 5px 5px 5px 15px;
  margin-left: 150px; }

.about-me-title {
  margin-bottom: 5px; }

.about-me-full-name {
  display: inline;
  padding-right: 10px; }

#about-me-map-marker {
  font-size: 20px; }

.about-me-location {
  font-style: italic;
  padding-right: 10px; }

.about-me-feedback {
  color: #1D5AAB;
  margin-bottom: 10px; }

.feedback-row {
  background-color: #F1F1F1;
  margin-bottom: 5px;
  padding: 5px;
  height: 60px; }

.feedback-row-image {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border: 1px solid #505050;
  float: left; }

.feedback-row-body {
  margin-left: 65px;
  width: 949px;
  padding-top: 5px; }

.feedback-row-title-line span {
  margin-right: 10px;
  font-weight: bold; }

.feedback-row-positive {
  color: green; }

.feedback-row-negative {
  color: red; }

.feedback-row-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.shipping-btn {
  border-radius: 0px;
  margin-right: 15px;
  background-color: #F1F1F1;
  color: #969696;
  border: 0px;
  padding: 6px 20px; }

.request-item-form-frame {
  border: 1px solid #DADADA;
  width: 600px;
  margin-bottom: 5px; }

.request-item-form-header {
  background-color: #F8F8F8;
  width: 100%;
  padding: 5px 0px 5px 15px;
  font-weight: bold; }

.request-item-form-delete-btn {
  background: #797979;
  color: #FFF;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  font-size: 13px;
  text-align: center;
  padding: 0px;
  margin-right: 15px; }

.request-item-form-body {
  padding: 10px; }

.request-item-form-image {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #DADADA;
  background-color: #F1F1F1;
  margin-right: 5px;
  vertical-align: top; }

.request-item-image-placeholder {
  text-align: center;
  padding-top: 30px;
  color: #767676;
  font-size: 12px; }

.request-item-form-fields {
  display: inline-block;
  width: 470px; }

.request-item-form-brand-frame {
  width: 330px;
  display: inline-block; }

.request-item-form-quantity-frame,
.request-item-form-quantity-field-frame {
  display: inline-block; }

.request-item-form-quantity-field {
  width: 60px;
  display: inline-block; }

.request-item-form-quantity-label {
  padding-right: 5px; }

.request-item-form-details {
  max-width: 470px;
  min-height: 100px !important;
  font-size: 14px; }

.request-items-table-container {
  margin-bottom: 15px; }

.request-items-table-header {
  border-bottom: 1px solid #505050; }

.request-items-table-header {
  padding: 0px 15px;
  color: #A6A6A6; }

.request-items-table-quantity-col {
  width: 40px;
  text-align: center; }

.item-row-frame {
  cursor: pointer; }

.item-row-header {
  border-bottom: 1px dotted #D6D6D6;
  padding: 5px; }

.item-row-details {
  background-color: #EEEEEE;
  width: 100%;
  padding: 5px 15px;
  border-bottom: 1px dotted #D6D6D6; }

.request-questions-table-header {
  font-size: 16px;
  padding-left: 15px;
  border-bottom: 1px solid #505050; }

.request-questions-table-header span {
  color: #909090; }

.question-row-frame {
  border-bottom: 1px dotted #D6D6D6; }

.question-row-question {
  padding: 2px 0px 0px 5px; }

.question-row-answer {
  font-style: italic;
  color: #909090;
  padding: 0px 15px 5px 25px; }

.question-row-reply {
  padding: 0px;
  height: 20px;
  font-size: 14px;
  width: 60px; }

.home-masthead {
  padding: 165px 0px 70px 0px;
  background-image: url("../img/masthead-home.jpg"); }

.section-header {
  font-size: 20px;
  margin-bottom: 10px; }

.how-it-works {
  color: #909090; }

.signup-step {
  max-width: 175px;
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center; }

.signup-step img {
  max-width: 75px;
  max-height: 75px;
  margin: 0px auto 15px auto;
  display: block; }

.signup-step b {
  display: block; }

.account-tabs-content {
  margin-top: 20px; }

.puppy-masthead {
  padding: 250px 0px 0px 0px;
  background-image: url("../img/masthead-puppy.jpg"); }

#profile-button {
  width: 200px;
  margin-top: 20px; }

#extras-button {
  width: 200px; }

#request-form-title {
  font-weight: bold;
  padding: 0px 15px 15px 0px;
  display: inline-block; }

#request-form-subtitle {
  color: #77D6FD;
  font-size: 12px;
  padding-right: 5px; }

#request-form-add-item-btn {
  width: 600px;
  background-color: #E6E6E6;
  background: linear-gradient(#fafafa, #e6e6e6);
  color: #7A7A7A;
  font-weight: normal;
  font-size: 15px; }

#request-form-add-item-btn:hover {
  background-color: #D6D6D6;
  background: linear-gradient(#fafafa, #d6d6d6); }

#request-form-button {
  width: 200px; }

#request-show-frame {
  display: inline-block;
  width: 700px;
  padding-right: 50px;
  margin-left: 100px; }

#request-show-side-bar {
  display: inline-block;
  width: 150px; }

.request-show-description {
  display: inline-block;
  padding-right: 15px;
  max-width: 400px; }

.request-show-region {
  padding-right: 15px; }

.request-show-subtitle-line span {
  font-size: 13px;
  padding-right: 15px; }

.request-show-subtitle-line {
  padding-bottom: 30px; }

#request-show-view-bids-button,
#request-show-make-bid-button {
  width: 150px; }
