.signin-window {
    display: none;
    width: 380px;
    position:fixed;
    top: 40px;
    left: 50%;
    margin-left: -190px;
    z-index: 9999999;
}
.login-page-form {
    display: block;
    width: 380px;
    margin-top: 20px;
}
.signin-window .popover-content, .login-page-form .popover-content{
    padding: 20px 35px;
}
.signin-window h5, .login-page-form h5 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: normal;
}
.signin-window form, .login-page-form form {
    width: 100%;
    font-size: 14px;
    margin-bottom: 0;
}
.signin-window input[type="email"], .signin-window input[type="password"], .login-page-form input[type="email"], .login-page-form input[type="password"] {
    width: 100%;
    height: 38px;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.signin-window input, .signin-window label, .signin-window button, .login-page-form input, .login-page-form label {
    margin: 10px 0; 
}
.signin-window label{
    font-size: 16px;
    line-height: 14px;
    padding: 0;
}
.login-page-form label {
    font-size: 18px;
    line-height: 33px;
}
.signin-window input[type="radio"], .login-page-form input[type="radoi"] {
    margin:0;
    padding: 0;
    margin-right: 10px;
}

.signin-window .ew-close, .login-page-form .ew-close {
    margin-right: 15px;
    margin-top: 10px;
}

.fb_connect_btn {
    float: left;
    background: url('/img/facebook-signin.png') top left no-repeat;
    width: 100px; height: 40px; cursor: pointer;
    margin: 10px 30px 35px 0; 
}
#google-signin {
    float: left;
    border: 0;
    background: url('/img/google-signin.png') top left no-repeat;
    width: 100px; height: 40px; margin: 10px 0; cursor: pointer;
}