html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

body {
	font-family: 'Open+Sans', sans-serif;
	font-weight: 300;
}

ol, ul {
	list-style: none;
}

.clearfix:after, .container:after  {
	content: " "; 
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
} 

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.header {
	padding: 20px;
}

.header {
	float: left;
}

.menu {
	line-height: 38px;
	margin-left: 30px;
}

.create, .view, .landing {
	width: 100%;
	float: left;
}

.landing {
	text-align: center;
}

.error {
	border: 1px red solid;
}

input {
	border: 1px #999 solid;
}

.request {
	padding: 30px;
}

.label {
	color: #999;
}3