.request-items-table-container {
  margin-bottom: 15px;
}

.request-items-table-header {
  border-bottom: 1px solid #505050;
}

.request-items-table-header {
  padding: 0px 15px;
  color: #A6A6A6;
}

.request-items-table-quantity-col {
  width: 40px;
  text-align: center;
}
