.about-me-frame {
  margin-top: 15px;
}

.about-me-avatar {
  width: 150px;
  height: 150px;
  margin: 0px 15px 15px 0px;
  vertical-align: top;
}

.about-me-body {
  display: inline-block;
}

.about-me-title {
  margin-bottom: 5px;
}

.about-me-full-name {
  display: inline;
}

.about-me-location {
  font-style: italic;
}

.about-me-feedback {
  color: #1D5AAB;
  margin-bottom: 10px;
}