.featured-puppies-frame {
  background-color: #F0F5FD;
}

.featured-puppy {
  padding: 10px;
}

.featured-puppy-avatar {
  width: 100%;
  height: auto;
}

.featured-puppy-quote {
  padding-top: 10px;
}