.home-masthead {
  padding: 165px 0px 70px 0px;
}

#masthead {
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
  text-shadow: black 0.1em 0.1em 0.2em;
  height: 500px;
}

.masthead-main-line {
  font-size: 22px;
}

.masthead-call-to-action {
  font-size: 18px;
  margin-top: 40px;
}

.masthead-call-to-action input {
  width: 35%;
}

.masthead-call-to-action button {
  width: 20%;
}


