.form-frame {
  width: 600px;
  margin-left: 100px;
  display: inline-block;
  margin-right: 50px;
}

.form-section-frame {
  padding-bottom: 15px;
}

.form-section-title {
  margin-bottom: 5px;
}

.form-section-subtitle {
  color: #1D5AAB;
  font-size: 13px;
  margin-bottom: 15px;
}

.form-wrapper {
  margin: 50px 0px 50px 0px;
}

.facebook-button {
  width: 100%;
  background-color: #18529E;
  background: linear-gradient(#2971B6, #18529E);
}

.facebook-button:hover {
  background-color: #08428E;
  background: linear-gradient(#1961A6, #08428E);
}

.form-alternative-action {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.form-option-divider {
  text-align: center;
  font-size: 15px;
  width: 100%;
  padding: 20px 0px;
}

.form-fixed-button {
  margin-left: 20px;
}

.form-button-subtitle {
  font-size: 12px;
  text-align: center;
}

.form-hint {
  color: #FFF;
  font-size: 12px;
  background-color: #77D6FD;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin-right: 15px;
}