.form-wrapper {
  margin: 50px 0px 50px 0px;
}

.facebook-button {
  width: 100%;
  background-color: #18529E;
  background: linear-gradient(#2971B6, #18529E);
}

.facebook-button:hover {
  background-color: #08428E;
  background: linear-gradient(#1961A6, #08428E);
}

.form-alternative-action {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.form-option-divider {
  text-align: center;
  font-size: 15px;
  width: 100%;
  padding: 20px 0px;
}
