// Make navbar item background turn darker gray and it's text blue on mouse over
.navbar-nav>li>a.header-nav-bar-link:hover {
  background-color: #E9E9E9 !important;
  color: #1D5AAB;
}

.header-nav-bar {
  margin-bottom: 0px;
  min-width: 900px;
  background-color: #F1F1F1;
  background-color: #F1F1F1;
}

.header-logo-block {
  margin-top: 5px;
}

#header-logo {
  height: 40px;
}

#company-name {
  color: #4E2C1F;
  font-size: 22px;
  vertical-align: bottom;
}

#header-account-avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #E1E1E1;
}

#header-account-link {
  padding: 5px 15px;
}