.nav {
  background-color: #F1F1F1;
}

// Make navbar item background turn darker gray on mouse over
ul.nav a:hover {
  background-color: #E9E9E9 !important;
}

// Make NavBar item text turn blue on mouse-over
.navbar-default .navbar-nav>li>a:hover,
.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #1D5AAB;
}

.header-nav-bar {
  margin-bottom: 0px;
  min-width: 900px;
  background-color: #F1F1F1;
}

.logo-block {
  margin-top: 5px;
}

#logo {
  height: 40px;
}

#company-name {
  color: #4E2C1F;
  font-size: 22px;
  vertical-align: bottom;
}
