.content-body {
  background-color: #FFF;
  margin-top: 3px;
  padding: 5px 75px 30px 75px;
  color: #808080;
  border-bottom: 2px solid darkgray;
}

.signup-step {
  width: 175px;
  font-size: 14px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup-step img {
  width: 75px;
  height: 75px;
  margin: 0px auto 15px auto;
  display: block;
}

.signup-step b {
  display: block;
}