.section-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.how-it-works {
  color: #909090;
}

.signup-step {
  max-width: 175px;
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.signup-step img {
  max-width: 75px;
  max-height: 75px;
  margin: 0px auto 15px auto;
  display: block;
}

.signup-step b {
  display: block;
}