body {
  background-color: #EEE;
  padding-bottom: 20px;
  color: #505050;
}

a:hover {
  text-decoration: none;
}

.page {
  min-width: 900px;
}

.content-body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  padding: 25px 75px 50px 75px;
}


.content {
  background-color: #FFF;
  box-shadow: 0 8px 6px -6px #505050;
}

button {
  color: #FFF;
  background-color: #FF5A1E;
  background: linear-gradient(#FF7A2E, #FF5A1E);
  border: 0px solid #808080;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  height: 35px;
}

button:hover {
  background-color: #AA4A0E;
  background: linear-gradient(#FF5A1E, #CC4A0E);
}

button:focus {
  outline:0;
}

.gray-button {
  background-color: #7E7E7E;
  background: linear-gradient(#7E7E7E, #5E5E5E);
}

.gray-button:hover {
  background-color: #8E8E8E;
  background: linear-gradient(#8E8E8E, #7E7E7E);
}

.down-arrow {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid;
}

