body {
  background-color: #EEE;
  padding-top: 15px;
  padding-bottom: 20px;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
}

.header-links {
  position: absolute;
  bottom: 0px;
  right: 50px;
}

.header-links span {
  font-size: 15px;
  padding-left: 15px;
}

.logo-link {
  padding: 15px 15px 0px 50px;
}

#logo {
  height: 40px;
  margin: 0px 10px 0px 0px;
}

#company-name {
  color: #4E2C1F;
  font-size: 22px;
  vertical-align: bottom;
}

.content {
  margin-top: 5px;
}

button {
  color: white;
  background-color: darkorange;
  border: 1px solid #808080;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: orangered;
}

.down-arrow {
  width: 20px;
  height: auto;
  margin-bottom: 5px;
}

.footer-links {
  margin: 10px 20px;
}
.footer-links span {
  margin: 0px 30px;
}