body {
  background-color: #EEE;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #505050;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 1000px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.content-body {
  background-color: #FFF;
  padding: 25px 75px 50px 75px;
  box-shadow: 0 8px 6px -6px #505050;
}


.content {
  margin-top: 5px;
}

button {
  color: #FFF;
  background-color: #FF5A1E;
  background: linear-gradient(#FF7A2E, #FF5A1E);
  border: 0px solid #808080;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  height: 35px;
}

button:hover {
  background-color: #AA4A0E;
  background: linear-gradient(#FF5A1E, #CC4A0E);
}

button:focus {
  outline:0;
}

.gray-button {
  background-color: #7E7E7E;
  background: linear-gradient(#7E7E7E, #5E5E5E);
}

.gray-button:hover {
  background-color: #8E8E8E;
  background: linear-gradient(#8E8E8E, #7E7E7E);
}

.down-arrow {
  width: 20px;
  height: auto;
  margin-bottom: 5px;
}
