.recommendation-header {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.rec-filter {
  padding-left: 30px;
}

.rec-items {
  text-align: center;
}

.rec-item-img {
  border: 1px solid lightgray;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 175px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
}

.rec-item-name {
  padding-top: 5px;
  color: #909090;
}

.rec-item-origin {
  padding-top: 10px;
}

.rec-see-more {
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
}

.rec-see-more button {
  width: 200px;
  margin-bottom: 10px;
}
