#request-show-frame {
  display: inline-block;
  width: 700px;
  padding-right: 50px;
  margin-left: 100px;
}

#request-show-side-bar {
  display: inline-block;
  width: 150px;
}

.request-show-description {
  display: inline-block;
  padding-right: 15px;
  max-width: 400px;
}
.request-show-region {
  padding-right: 15px;
}

.request-show-subtitle-line span {
  font-size: 13px;
  padding-right: 15px;
}

.request-show-subtitle-line {
  padding-bottom: 30px;
}

#request-show-view-bids-button,
#request-show-make-bid-button {
  width: 150px;
  vertical-align: top;
}