.about-me-frame {
  height: 150px;
  margin-bottom: 20px;
}

.about-me-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  vertical-align: top;
  border: 1px solid #505050;
  float: left;
}

.about-me-body {
  padding: 5px 5px 5px 15px;
  margin-left: 150px;
}

.about-me-title {
  margin-bottom: 5px;
}

.about-me-full-name {
  display: inline;
  padding-right: 10px;
}

#about-me-map-marker {
  font-size: 20px;
}

.about-me-location {
  font-style: italic;
  padding-right: 10px;
}

.about-me-feedback {
  color: #1D5AAB;
  margin-bottom: 10px;
}